server {
    listen              80;
    server_name         dev01.my;

    access_log          /var/log/nginx/dev01.access.log;
    error_log           /var/log/nginx/dev01.error.log;

    root                /var/www/phpdev-01;
    index               index.php;

    charset             utf-8;

    location / {
            try_files $uri $uri/ /index.php?$query_string;
        }

    location ~ "^(.+\.php)($|/)" {
        fastcgi_split_path_info ^(.+\.php)(.*)$;
	fastcgi_pass   unix:/var/run/php/php-fpm.sock;
        fastcgi_param   SCRIPT_FILENAME   $document_root$fastcgi_script_name;
        fastcgi_param   SCRIPT_NAME       $fastcgi_script_name;
        fastcgi_param   PATH_INFO         $fastcgi_path_info;
        include         fastcgi_params;
    }
}